@charset "UTF-8";

@font-face {
    font-family: Speedee;
    src: url('Speedee\ Bold.ttf') format('truetype');
}

:root {
    --cor01: #bf0f1e;
    --cor02: #dd1324;
    --cor03: #e7b307;
    --cor04: #ffc300;
    --cor05: #f9f9f9;
    --cor06: #292929;
    --fonte01: Speedee Bold, sans-serif, 
}



body {
    margin: 0px;
    padding: 0px;
    font-family: Speedee, sans-serif;
    min-width: 300px;
    max-width: 2000px;
}
.icon-menu {
    background-image: url('imagens/mcdonalds.png');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 1px 1px 9px -3px rgba(0, 0, 0, 0.76);
    margin-bottom: 8px;
}

.icon-menu > img {
    height: 40px;
    width: 40px;
    margin: 17px;
    margin-left: 3px;
    top: 30px;
    left: 30px;
}

.icon-menu > svg {
    margin: 15px;
    margin-left: 2px;
    margin-right: 0px;
    height: 40px;
    width: 50px; 
}

.menu2 {
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 30px;
}

span > a {
    text-decoration: none;
    color: #e7b307;
    padding: 18px;
    background-color: #f9f9f9;
    border-radius: 28px;
    margin: 5px;
    font-size: 1.1em;
    transition:all .3s linear;
    cursor: pointer;
}


span > a:hover {
    background-color: #e7b307;
    color: #f9f9f9;
    transform: scale(1.5);
    font-size: 1.4em;
}

.lançamento > a {
    padding: 24px;
    font-size: 1.2em;
}

.login {
    text-align: right;
    text-decoration: none;
    color: white;
    margin-top: -110px;
    margin-right: 20px;
}

.login > a {
    text-decoration: none;
    color: #e7b307;
    padding: 18px;
    background-color: #f9f9f9;
    border-radius: 28px;
    margin: 5px;
    font-size: 1.1em;
    transition:all .3s linear;
    cursor: pointer;
}

.login > a:hover {
    background-color: #e7b307;
    color: #f9f9f9;
    transform: scale(1.5);
    font-size: 1.4em;
}

.imagens {
    text-align: center;
    margin: auto;
    display: block;
}

span.pedido {
    display: inline-block;
}

.pedido > img {
    height: 600px;
    margin-left: 70px;
    margin: auto;
    display: block;
    width: 100%;
}

.pedido > p {
    margin-top: -140px;
    font-weight: lighter;
    color: #292929;
    min-width: 300px;
    max-width: 400px;
    text-align: center;
}

span.celular {
    display: inline-block;
}

.celular > img {
    height: 600px;
    margin: auto;
    display: block;
    width: 100%;
}

.celular > p {
    margin-top: -140px;
    font-weight: lighter;
    color: #292929;
    min-width: 300px;
    max-width: 400px;
    padding-left: 30px;
    text-align: center;
}

span.promoçao {
    display: inline-block;
}

.promoçao > img {
    height: 600px;
    margin-left: 70px;
    margin: auto;
    display: block;
    width: 100%;
    padding-left: -120px;
}

.promoçao > p {
    margin-top: -140px;
    font-weight: lighter;
    color: #292929;
    min-width: 300px;
    max-width: 400px;
    padding-left: 10px;
    text-align: center;
}

footer {
    background-color: rgba(211, 211, 211, 0.267);
    margin-top: 120px;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 0px 12px -5px rgba(0, 0, 0, 0.493)
}

footer > h3 {
    font-size: 50px;
}

.footer {
    width: auto;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.377);
    margin-top: 30px;
}

span > h4 {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

span > h4:hover {
    font-weight: bolder;
}

.h4-1 > p.h4-1 {
    display: none;
}

.h4-1:hover > p.h4-1 {
    display: block;
    font-family: sans-serif;
}

.h4-2 > p.h4-2 {
    display: none;
}

.h4-2:hover > p.h4-2 {
    display: block;
    font-family: sans-serif;
}

.h4-3 > p.h4-3 {
    display: none;
}

.h4-3:hover > p.h4-3 {
    display: block;
    font-family: sans-serif;
}

.h4-4 > p.h4-4 {
    display: none;
}

.h4-4:hover > p.h4-4 {
    display: block;
    font-family: sans-serif;
}

.h4-5 > p.h4-5 {
    display: none;
}

.h4-5:hover > p.h4-5 {
    display: block;
    font-family: sans-serif;
}

.h4-6 > p.h4-6 {
    display: none;
}

.h4-6:hover > p.h4-6 {
    display: block;
    font-family: sans-serif;
}

.sidebar {
    width: 50px;
    height: 350px;
    background-color: #f9f9f9;
    margin-bottom: -20px;
    margin-top: -30px;
    color: #292929;
    overflow: hidden;
    border-radius: 0px 1rem 1rem 0px;
    transition: width .75s ease;
    display: none;
}

@media screen and (min-width: 1000px) {
    .sidebar {
        display: block;
    }
}

.sidebar:hover {
    width: 220px;
    padding-right: 20px;
    color: #29292936;
}

ul {
    padding-left: 20px;
    padding-top: 30px;
    font-family: Speedee;
    list-style-type: none;
    font-size: 1.2em;
}

ul > li {
    margin-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 20px;
    border: 1px solid #2929291c;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 3px -2px rgba(0, 0, 0, 0.473);
    transition:all .2s linear;
    cursor: pointer;
}

ul > li:hover {
    background-color: #b9b5b523;
    transform: scale(1.05);
    font-size: 1em;
    color: #f9f9f9;
}

li > a {
    text-decoration: none;
    color: #292929;
}

svg.pag1 {
    height: 80px;
    width: 30px;
    margin-left: -8px;
    color: transparent;
}

li.pag1 {
    margin-top: -65px;
}

svg.pag2 {
    height: 80px;
    width: 30px;
    margin-left: -8px;
    padding: -10px;
    color: transparent;
}

li.pag2 {
    margin-top: -65px;
}

svg.pag3 {
    height: 80px;
    width: 30px;
    margin-left: -8px;
    color: transparent;
}

li.pag3 {
    margin-top: -65px;
}

svg.pag4 {
    height: 80px;
    width: 30px;
    margin-left: -8px;
    color: transparent;
}

li.pag4 {
    margin-top: -65px;
}

.menu3 > img {
    height: 40px;
    width: 40px;
    margin: 17px;
    margin-left: 25px;
    top: 30px;
}

.pag4, .pg3, .pag2 {
    background-color: #3b343411;
    background-attachment: fixed;
}

div.menu3 {
    width: 100%;
    height: 180px;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.425);
}

nav.menu3 {
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 30px;
    margin-top: 55px;
    margin: auto;
    padding-top: 50px;
}

nav.menu3 > a {
    text-decoration: none;
    color: #292929;
    background-color: #f9f9f9;
    margin: 5px;
    padding: 10px 20px 10px 20px;
    font-family: Speedee, sans-serif;
    border: 0.5px solid rgba(0, 0, 0, 0.048);
    border-radius: 28px;
    text-align: center;
    font-size: 1em;
    transition:all .3s linear;
    cursor: pointer;
    text-decoration: none;
    color: #e7b307;
    background-color: #f9f9f9;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
}

nav.menu3 > a:hover {
    transform: scale(1.5);
    font-size: 1.4em;
    background-color: #e7b307;
    color: #f9f9f9;
    align-items: center;
    justify-content: center;
}

.login > a {
    border: 0.5px solid rgba(0, 0, 0, 0.048);
    
}

h1 {
    padding: 30px 0px 0px 70px;
    color: #292929; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.274);
}

.content {
    transition: all .1s linear;
    cursor: pointer;
    width: 100%;
    height: 300px;
    padding: 10px 0px 70px 10px;
    display: inline-block;
    inline-size: 300px;
    margin: auto;
    padding-left: 10px;
    padding-right: -30px;
    margin: 0px 60px 0px 40px;
    justify-content: center;
    align-content: center;

}

.content:hover {
    transform: scale(1.1);
}

.img1 {
    box-shadow:  0px 0px 17px -10px rgba(0, 0, 0, 0.507);
    display: inline;
    min-width: 250px;
    max-width: 500px;
    height: 300px;
    margin: auto;
    text-align: center;
    inline-size: auto;
    columns: 2;
    margin: 40px 40px 0px 40px;
    align-items: center;
    justify-content: center;
}


img.img1 {
    width: 0px;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.014);
    border-radius: 10px 10px 0px 0px;
    max-width: 300px;
    height: 225px;
    background-color: #29292905;
    margin-left: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.img1 {
    border: 1px solid rgba(0, 0, 0, 0.048);
    border-radius: 0px 0px 10px 10px;
    width: 225px;
    height: 50px;
    color: #292929;
    background-color: #ffffff;
    margin: 0px 0px 0px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 1px 20px;
}

div.imgs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer.pag4 {
    min-width: none;
    max-width: 2000px;
    margin-top: 200px;
}

@media (max-width: 1024px) {
    .container > img {
        display: none;
        width: 100%;
    }
}

.login5 {
    margin: 100px auto 100px auto;
    text-align: left;
    width: 400px;
    height: 500px;
}

.login5 > h1 {
    padding: 0px;
    font-size: 2.7em;
    color: #292929;
}

.login5 > p {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
    color: #292929;
}

.bold {
    font-weight: bold;
}

.light {
    margin-top: -10px;
}

.entrar > a {
    text-decoration: none;
    color: #292929;
    border: 1px solid rgba(0, 0, 0, 0.205);
    margin: px;
    font-size: .875rem;
    padding: 15px;
    display: flex;
    border-radius: 5px;
}

.convidado {
    display: flex;
}
.convidado > a {
    text-decoration: none;
    color: #292929;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
    padding-left: 8px;
    padding-top: 4px;
}

.convidado > a:hover {
    text-decoration: underline;
}

.convidado > svg {
    width: 16px;
    padding-left: 5px;

}